@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (min-width: 360px) { 

    body {
        font-family: "Poppins", sans-serif;
    }

header {
    background: rgb(43,141,195);
    background: linear-gradient(320deg, rgba(31,113,158,1) 0%, rgba(0,176,250,1) 73%, rgba(156,226,255,1) 100%);
}

header a {
    font-size: 1.7em;
    margin: 1em;
    padding: 1em;
    font-weight: 450;
}

header img {
    width: 5em;

}

.gallery {
    display: inline-block;
    border: 1px solid #00b0fa;
    margin: 2em;
}

.gallery img {
    width: 14em;
}

footer {
    margin-top: 3em;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    background: rgb(43,141,195);
    background: linear-gradient(108deg, rgba(22,143,209,1) 0%, rgba(0,176,250,1) 18%, rgba(134,219,254,1) 75%, rgba(156,226,255,1) 100%);
}

footer p {
    padding-top: 2em
}

}

/* pro telefony  */
@media only screen and (max-width: 900px) {

    body {
    font-family: "Poppins", sans-serif;
    }
    
    header {
        background: rgb(43,141,195);
        background: linear-gradient(108deg, rgba(22,143,209,1) 0%, rgba(0,176,250,1) 18%, rgba(134,219,254,1) 75%, rgba(156,226,255,1) 100%);
    }
    
    #navbarNav {
        width: 100%;
        font-size: 0.7em;
    }
    
    header img {
        width: 5em;
        height: auto;
    }

    .gallery {
        display: inline-block;
        border: 1px solid #00b0fa;
        margin: 1em;
    }

    .gallery img {
        width: 8.6em;
    }
    
    footer {
        margin-top: 3em;
        margin-bottom: 4em;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        background: rgb(43,141,195);
        background: linear-gradient(108deg, rgba(22,143,209,1) 0%, rgba(0,176,250,1) 18%, rgba(134,219,254,1) 75%, rgba(156,226,255,1) 100%);
    }

    footer a {
        margin: 2em;
        padding-bottom: 2em
    }
    
    }