@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (min-width: 900px) { 

body {
    font-family: "Poppins", sans-serif;
}

.parallax {
    background-image: url(../img/header.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#motto {
    width: 100%;
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 23px;
    font-weight: 350;
    margin-top: 3.5em
}

#navBAR {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    font-size: 2.5em;
    font-weight: 520;
}

#navBAR a:hover {
    font-size: 1.1em;
    transition: 0.7s;
}

.parallax img {
    width: 10em;
    height: auto;
    margin-left: 2em;
    margin-top: 1em
}

.main {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.main p {
    padding: 1em
}

.main h1 {
    font-size: 1em;
    padding-top: 2em
}

.main img {
    margin-left: 30%;
    margin-top: 2em;
    height: 150px;
}

footer {
    margin-top: 3em;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    background: rgb(43,141,195);
    background: linear-gradient(108deg, rgba(22,143,209,1) 0%, rgba(0,176,250,1) 18%, rgba(134,219,254,1) 75%, rgba(156,226,255,1) 100%);
}

footer h2 {
    font-size: 1.5em;
    padding: 1em
}

footer a {
    padding: 15px;
    margin-top: 0.5em;
    margin-bottom: 4em;
    transition: 1s
}

footer #a a:hover{
    text-decoration: none;
}

footer #a a:hover::after {
    content: " <"
}

footer #a a:hover::before {
    content: "> "
}

footer #a {
    padding-bottom: 2em;
    border-bottom: 1px rgb(43,141,195) solid;;
}

footer #b {
    padding-bottom: 2em;
}

}

/* pro telefony  */
@media only screen and (max-width: 900px) {

body {
font-family: "Poppins", sans-serif;
}

header {
    background: rgb(43,141,195);
    background: linear-gradient(108deg, rgba(22,143,209,1) 0%, rgba(0,176,250,1) 18%, rgba(134,219,254,1) 75%, rgba(156,226,255,1) 100%);
}

header img {
    width: 5em;
    height: auto;
    margin: 1em;
}

.main {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.main p {
    padding: 1em
}

.main h1 {
    font-size: 1em;
    padding-top: 3.5em;
    margin: 1em;
}

.main img {
    margin-top: 3em;
    margin-bottom: 2em;
    max-width: 400px;
}

footer {
    background: rgb(43,141,195);
    background: linear-gradient(108deg, rgba(22,143,209,1) 0%, rgba(0,176,250,1) 18%, rgba(134,219,254,1) 75%, rgba(156,226,255,1) 100%);
}

footer article {
    padding: 1em;
}

footer p {
    margin: 1px
}

#contact h1 {
    font-size: 1.7em;
    padding-top: 1em;
}

#copyright {
    border-top: 1px solid white;
    padding-bottom: 3em;
}

#copyright a:hover {
    font-size: larger;
    transition: 1s;
    font-weight: 400;
    text-decoration: none;
}

}