@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header {
    height: 20em;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: center;

}
    
.header img {
    height: 120px;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 999;
}

.main {
    color: white;
}

